<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Routesetter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <h2>Add/Edit Routesetter</h2>
        <div class="col-md-4">
            <div class="col-md-4" style="padding:20px 0">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
                </form>
            </div>
            <form th:object="${routesetter}" th:action="@{/saveroutesetter}" method="post">

                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" />
                <div style="clear: both; display: block; height: 10px;"></div>

                <input type="submit" class="btn btn-primary"
                    th:value="${routesetter.routesetterid == null ? 'Add Routesetter' : 'Update Routesetter'}" />
                <div class="container" style="padding: 20px 0;">
                    <a href="/routesetterlist" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
