<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Routelist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<!--Alert confirmation after pressing "mark as climbed" button -->
	<script th:inline="javascript">
		function markAsClimbedConfirmation() {
			var confirmation = confirm("Are you sure you want to mark this route as climbed?");

			if (confirmation) {
				alert("Climb has been added to the climbing log!");
			}

			return confirmation;
		}
	</script>
</head>

<body>
	<h1>Climbing routes</h1>
	<div class="col-md-4">
		<h4>Welcome <span sec:authentication="name"></span>!</h4>
	</div>
	<!-- show logout button for users that are logged in -->
	<div sec:authorize="isAuthenticated()" class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>
	<!-- show login button for users that aren't' logged in -->
	<div sec:authorize="isAnonymous()">
		<div class="col-md-4" style="padding:20px 0">
			<a th:href="@{/login}" class="btn btn-sm btn-danger">Login</a>
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Sector</th>
			<th>Grade</th>
			<th>Date</th>
			<th>Routesetter</th>
			<th>Discipline</th>
			<th sec:authorize="hasAuthority('ADMIN')">Action</th>
			<th>Tick</th>

		</tr>
		<tr th:each="route : ${routes}">
			<td th:text="${route.sector}"></td>
			<td th:text="${route.grade}"></td>
			<td th:text="${route.date}"></td>
			<td th:text="${route.routesetter.name}"></td>
			<td th:text="${route.discipline.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{/delete/{id}(id=${route.routeid})}" class="btn btn-xs btn-danger">Delete</a>
				<a th:href="@{/edit/{id}(id=${route.routeid})}" class="btn btn-xs btn-primary">Edit</a>
			</td>
			<td>
				<!--button to mark the routes climbed-->
				<form th:action="@{/markAsClimbed/{routeid}(routeid=${route.routeid})}" method="post"
					onsubmit="return markAsClimbedConfirmation()">
					<input type="submit" value="Mark as Climbed" class="btn btn-success" />
				</form>
			</td>
		</tr>
	</table>
	<a th:href="@{/add}" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Add Route</a>
	<a th:href="@{/routesetterlist}" class="btn btn-success">Show routesetters</a>
	<a th:href="@{/disciplinelist}" class="btn btn-success">Show disciplines</a>
	<a th:href="@{/climbinglog}" class="btn btn-primary">View Climbing Log</a>
</body>



</html>